<div id="ticket">
  <h2><%= @ticket.title %></h2>
  <div><%= @ticket.description %></div>
  <div id="author">Created by <%= @ticket.user.email %></div>
</div>

<div>
  <% authorized?('edit tickets', @project) do %>
    <%= link_to 'Edit ticket', [:edit, @project, @ticket] %>
  <% end %>

  <% authorized?('delete tickets', @project) do %>
    <%= link_to 'Delete ticket', [@project, @ticket],
        method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <%# Or %>
  <%# link_to 'Edit ticket', edit_project_ticket_path(@project, @ticket) %>
  <%# link_to 'Delete ticket' project_ticket_path(@project, @ticket), method: :delete %>
</div>

